<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3 class="hometitle">
                The Value of Money
            </h3>
        </div>
    </div>


    <div class="row">
        <div class="col-12 col-sm-5 homeimg">
            <figure>
                <img src="./images/1.jpeg" alt="">
                <figurecaption></figurecaption>
            </figure>
        </div>


        <div class="col-12 col-sm-7">
            <p class="hometext">Money, everyone wants it, but not everyone has it. Its magic is so great that it can bankrupt and destroy a country. Money can deprive the lives of others, it killed people does not blink. It can make a happy family in tatters, it is a devil! You see, people are crazy about it, working crazy, even killing themselves for it. Money is not everything! Can money buy happiness? Can it buy health? It Can......But there are many fools also pursuit of it, is this meaningful? Even if you get it, what can you do?
                Money, has its value, its mission is to distinguish between human dignity, but, whateve you are sad or happy, as long as the fate is in your own hands, that is happiness. Too much will only make you lose confidence, and you want to get back self-confidence, so that fate is willing to be controlled by others, become a puppet. What's the point of living without yourself? Even if you have a lot of money now, the person who used you will eventually "abandon" you, and then you will be back at the beginning of your life again and again. It's a vicious circle. You must break out of this cycle and start a new journey. If you control your destiny in the first place, you will take fewer detours and be more successful.
                Money, if you make good use of it, will show unlimited value. A small check will enable left-behind children to see their parents, empty-nesters to see their children, orphans to find their families and......Instead of letting you use money to eat, drink, whore, or gamble, money has no value and is just a dirty piece of paper! Helping people in need, participating in public service activities......These are the things that we can do to feel the beauty of money.
                </p>
        </div>
    </div>
</div>

<hr>
<div class="container-fluid second">
    <div class="row">
        <div class="col-12">
            <h3 class="hometitle">
                GMO food
            </h3>
        </div>
    </div>


    <div class="row">
        <div class="col-12 col-sm-5">
            <figure>
                <img src="./images/2.jpeg" alt="">
                <figurecaption></figurecaption>
            </figure>
        </div>


        <div class="col-12 col-sm-7">
            <p class="hometext">Any new application of science and technology has its two sides. The development and utilization of nuclear energy has provided enormous nuclear energy for human beings and also created nuclear weapons with great destructive effects on human beings; the application of pesticides has played a huge role in the prevention and control of crop pests, which has greatly increased crop production, but also caused great harm to human beings, livestock and the environment; the industrial revolution has brought tremendous wealth to human society, but also for human beings. Categories bring catastrophic environmental pollution and destruction of ecological balance.
            New crop varieties with characteristics of high yield, high quality, virus resistance, insect resistance, cold resistance, drought resistance, waterlogging resistance, salt resistance and herbicide resistance can be cultivated by genetically modified technology, so as to reduce the dependence on pesticides, fertilizers and water, reduce agricultural costs, substantially increase the yield per unit area, improve the quality of food and alleviate the contradiction of food shortage in the world.
            But when a large number of genetically modified organisms enter the nature, they will probably cross with wild species and cause genetic pollution, which will affect the protection and sustainable utilization of biodiversity. The harm caused by this pollution to the environment and ecosystem is more difficult to eliminate than that caused by any other factors.</p>
        </div>
    </div>
</div>
<hr>


<div class="container-fluid third">
    <div class="row">
        <div class="col-12">
            <h3 class="hometitle">
                The View of World in 2100
            </h3>
        </div>
    </div>


    <div class="row">
        <div class="col-12 col-sm-5">
            <figure>
                <img src="./images/3.jpg" alt="">
                <figurecaption></figurecaption>
            </figure>
        </div>


        <div class="col-12 col-sm-7">
            <p class="hometext">35 years ago, people thought it must be the rocket flying all over the sky, travel to the moon, controllable nuclear fusion, but these did not come true, or take a Boeing 747, drive.But you wouldn't have guessed IT was booming.
                In 2100, IT industry will continue to develop at a high speed, and the robot industry will also develop rapidly. Driverless cars will be popularized, and electric driverless taxis in cities can replace many people's private cars.There are no check-outs in supermarkets, no barbershops, no lorries, aircraft and urban express delivery, robot waiters, automatic stir-frying machines and dishwashers.Wallet hand performance gold card keys, these will be replaced by mobile phones, or other smart devices, the world is highly intelligent network.Countries such as Europe, Canada, Australia and New Zealand will all ban cash transactions.By 2100, cash will have disappeared entirely in the developed world, except in poor areas and the underclass.
                Everyone has to get used to life without privacy. Every household in the city will be connected to the camera, and even the toilet will have no dead space. The computer will automatically prevent crime, and everyone's voice will be automatically analyzed.Robot devices keep the city safe. Except the poor areas mentioned above, bro is watching you all over the world.
                Hopefully someone will see this answer in 2100.</p>
        </div>
    </div>
</div>