<div class="container-fluid">
	<div class="row">
		<div class="col-12 col-sm-6 col-xl-4">
			<img alt="Bootstrap Image Preview" src="./images/p1.jpg" class="img-thumbnail" />
			<h4>
				Lighting Technique
			</h4>
		</div>
	
	



	
		<div class="col-12 col-sm-6 col-xl-4">
			<img alt="Bootstrap Image Preview" src="./images/p2.jpg" class="img-thumbnail" />
			<h4>
				Chongqing
			</h4>
		</div>
	




	
		<div class="col-12 col-sm-6 col-xl-4">
			<img alt="Bootstrap Image Preview" src="./images/p3.jpg" class="img-thumbnail" />
			<h4>
				Banff
			</h4>
		</div>






	
		<div class="col-12 col-sm-6 col-xl-4">
			<img alt="Bootstrap Image Preview" src="./images/p4.jpg" class="img-thumbnail" />
			<h4>
				Tibet
			</h4>
		</div>
	




		<div class="col-12 col-sm-6 col-xl-4">
			<img alt="Bootstrap Image Preview" src="./images/p5.jpg" class="img-thumbnail" />
			<h4>
				Summer Palace
			</h4>
		</div>




		<div class="col-12 col-sm-6 col-xl-4">
			<img alt="Bootstrap Image Preview" src="./images/p6.jpg" class="img-thumbnail" />
			<h4>
				Japanese Cuisine
			</h4>
		</div>


</div>
